<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Happy Anniversary 5M</title>
</head>

<body class="card">
    <div id="alert-box">
        <img  src="../img/success-35.png" alt="icon">
        <p id="alert-message"></p>
        <br>
        <button onclick="hideAlert()">รับของขวัญ</button>
    </div>
    <br>
    <br>
    <h1 style="color: #D4529A;">สุขสันต์วันครบ 5 เดือนนะเตง</h1>

    <div class="text">
        <p>
            เดือนนี้เราทะเลาะกันบ่อยมากเลยนะค้าบบ ขอบคุณที่เตงไม่ทิ้งเค้านะค้าบบบ
            เค้ายังอยากมีเตงอยู่แบบนี้ไปตลอดเลยนะค้าบบ รอวันที่เราจะได้อยู่ด้วยกันไม่ไหวละค้าบบ
            เค้าขอโทษนะค้าบบที่บ้างครั้งทำตัวดื้อ กวนตีน น่าเบื่อ น่ารำคราญ อยากจะบอกเตง เค้ารักเตงน้าา รักมากๆเลย
            รักที่สุดในโลกเลยย หวงงงมากกด้วยน้าา แฟนนเค้าสวยที่สุด น่ารักที่สุด สุขสันต์วันครบ5เดือนนะค้าบบบที่รัก
        </p>

        <p class="muted" onclick=SendGift()>- Yuki -</p>
    </div>
    <div class="space"></div>
    <script src="../js/script.js"></script>
    <script src="../js/autoplay.js"></script>
    <script src="../js/gift.js"></script>

</body>

</html>